<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="weatherService" class="ua.hillel.springcoredemo.service.WeatherServiceImpl">-->

<!--        <constructor-arg  ref="weatherClient"/>-->
<!--    </bean>-->

<!--    <bean id="weatherClient" class="ua.hillel.springcoredemo.client.OpenWeatherMapClient">-->
<!--        &lt;!&ndash; collaborators and configuration for this bean go here &ndash;&gt;-->
<!--    </bean>-->

    <!-- more bean definitions go here -->

</beans>